/* Style Sheet for index.html
Organized by main parts*/


body {
    background-color:rgb(94, 128, 128);    
}

/* Container supposed to have a set width of 600px, with auto left & right sides to center.*/
.container {
    background-color: white;
    text-align: center;
    width: 600px;
    margin: 5% auto;
    border-radius: 20px;
    padding: 10px;
}

a:link{
    text-decoration: none;
    color: rgb(19, 86, 173);
    font-style: bold;
}

a:visited{
    color:rgb(24, 49, 49)
}

a:hover {
    text-decoration: none;
    color:olivedrab;
}

a:active{
    color:white;
}

/* ----------------
        Header 
------------------*/

header, nav, ol{
    display: flex; /* Flexbox direction set to row so it lines up horizontally */
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;   
}


nav ol {
    gap: 20px; 
    color: darkslategrey;
}

header h1 {
    color:rgb(160, 80, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    margin: 5px;
}

.waterimg {
    display: inline-block;
    max-width: 80px;
    border-radius: 50%;
}

h3{
    color:rgb(160, 80, 0);
    font-style: italic;
    margin: auto;
    font-size: 24px;
}

/* ----------------
        Main 
------------------*/

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

p, ul, span{
    color:rgb(62, 104, 104);
    font-family: 'Times New Roman', Times, serif;
}


ul{
    text-align: center;
    list-style-position: inside; /*Keeps bullet points next to text*/
}

hr{ /* setting the background & height to change the color of the line*/
    width: 85%;
    background-color: rgb(24, 49, 49);
    height: 1px;
    border: none; /*prevents the line from looking too thick*/
}

article, section{
    display: inline-block;
    width: 420px;
    padding: 15px;
}

/* ----------------
        Footer 
------------------*/

footer{
    font-size: 15px;
    font-style: bold;
    text-align: center;
    color:white;
    }
